# 🔒 Ignore secrets and keystore
/android/app/key.properties
/android/app/vaura.jks
.env
# ⚙️ Flutter build directories
/build/
/.dart_tool/
/.idea/
/.vscode/
/pubspec.lock
# 🗃️ OS and IDE files
*.iml
*.log
*.tmp
*.DS_Store
# 🔁 Generated
/generated_plugin_registrant.dart
/ios/Flutter/Flutter.podspec
